@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #150446;
  color: aliceblue;
  position: relative;
}

.anta-regular {
  font-family: "Anta", sans-serif;
}

.average-sans-regular {
  font-family: "Average Sans", sans-serif;
}
