@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  position: relative;
}

.anta-regular {
  font-family: "Anta", sans-serif;
}

.average-sans-regular {
  font-family: "Average Sans", sans-serif;
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marquee-container {
  overflow: hidden;
  width: 90px; /* Ajustalo al tamaño que quieras */
  position: relative;
}

.marquee-text {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 5s linear infinite;
}